<section id="banner-one">
	<div class="swiper-container banner-slider-two"
		data-swiper-config='{"loop": true, "effect": "slide", "prevButton":"#banner-nav-prev", "nextButton": "#banner-nav-next", "speed": 700, "autoplay": 500000, "paginationClickable": true}'>

		<div class="swiper-wrapper">
			<div class="swiper-slide" data-bg-image="/assets/media/banner/5.jpg" data-parallax="image">

				<div class="slider-content-two content-three" data-animate="fadeIn">
					<img src="/assets/media/banner/1.png" alt="Music">
					<div class="content text-center">
						<h3 data-animate="fadeInUp">Artist Feel You</h3>
						<h2 data-animate="fadeInUp" data-delay="0.5s">
							Happy Rythem of Life
						</h2>


						<p data-animate="fadeInUp" data-delay="0.9s">
							There are many variations of passages of Lorem Ipsum available but<br> the majority have to
							an suffered alteration.
						</p>
						<a href="#" class="store-btn" data-animate="fadeInLeft" data-delay="0.9s">
							<i class="tim-playstore"></i>
							Google Play
						</a>

						<a href="#" class="store-btn ml__15" data-animate="fadeInRight" data-delay="0.9s">
							<i class="tim-apple-logo"></i>
							Apple Store
						</a>
					</div>

				</div>
				<!-- /.slider-content -->

			</div>

			<div class="swiper-slide" data-bg-image="media/banner/6.jpg" data-parallax="image">

				<div class="slider-content-two text-left" data-animate="fadeIn">
					<img src="/assets/media/banner/2.png" alt="Music">
					<h3 data-animate="fadeInUp">Artist Feel You</h3>
					<h2 data-animate="fadeInUp" data-delay="0.5s">
						Happy Rythem of Life
					</h2>


					<p data-animate="fadeInUp" data-delay="0.9s">
						There are many variations of passages of Lorem Ipsum available but<br> the majority have to an
						suffered alteration.
					</p>
					<a href="#" class="tim-btn" data-animate="fadeInLeft" data-delay="0.9s">
						Explore More
					</a>

					<a href="#" class="video-btn-two" data-animate="fadeInRight" data-delay="0.9s">
						<i class="fa fa-play"></i>
						Watch video
					</a>

				</div>
				<!-- /.slider-content -->
			</div>
		</div>
	</div>
</section>


<!--==============================-->
<!--=        	Upcoming         =-->
<!--==============================-->
<section id="upcoming-concerts-three" class="section-padding">
	<div class="tim-container">
		<div class="section-title title-three text-center">
			<h2>Upcoming <span>Concert</span></h2>
			<p>
				There are many variations of passages of Lorem Ipsum available but the majority have suffered alteration
				in some injected humour.
			</p>
		</div>
		<!-- /.section-title -->

		<div class="concerts-wrapper">
			<div class="row justify-content-center">
				<div class="col-xl-8 col-lg-12">
					<div class="row">
						<div class="col-lg-4 col-sm-6">
							<div class="hover-flip upc-con-three">
								<div class="content-wrap">
									<div class="cons-feature-image">
										<img src="/assets/media/upc/1.jpg" alt="thumb">
									</div>

									<div class="content">
										<h4>26-29 Aug 2018, BERLIN</h4>
										<h3>Los Angeles Concert 2018</h3>

										<p>
											There are many variations Lorem Ipsum available.There are many variations
											dummy.
										</p>

									</div>
								</div>

								<div class="upc-count-wrap">
									<div class="upc-count-wrap">
										<div class="countdown" data-count-year="2018" data-count-month="5"
											data-count-day="30">
										</div>

										<div class="ticket">
											<a href="#" class="tic-btn">Buy Ticket</a>
											<a href="#" class="tic-btn tic-btn-bg">See Details</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- /.col-lg-4 col-sm-6 -->

						<div class="col-lg-4 col-sm-6">
							<div class="hover-flip upc-con-three">
								<div class="content-wrap">
									<div class="cons-feature-image">
										<img src="/assets/media/upc/2.jpg" alt="thumb">
									</div>

									<div class="content">
										<h4>26-29 Aug 2018, BERLIN</h4>
										<h3>Los Angeles Concert 2018</h3>

										<p>
											There are many variations Lorem Ipsum available.There are many variations
											dummy.
										</p>

									</div>
								</div>

								<div class="upc-count-wrap">
									<div class="upc-count-wrap">
										<div class="countdown" data-count-year="2018" data-count-month="5"
											data-count-day="30">
										</div>

										<div class="ticket">
											<a href="#" class="tic-btn">Buy Ticket</a>
											<a href="#" class="tic-btn tic-btn-bg">See Details</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- /.col-lg-4 col-sm-6 -->

						<div class="col-lg-4 col-sm-6">
							<div class="hover-flip upc-con-three">
								<div class="content-wrap">
									<div class="cons-feature-image">
										<img src="/assets/media/upc/3.jpg" alt="thumb">
									</div>

									<div class="content">
										<h4>26-29 Aug 2018, BERLIN</h4>
										<h3>Los Angeles Concert 2018</h3>

										<p>
											There are many variations Lorem Ipsum available.There are many variations
											dummy.
										</p>

									</div>
								</div>

								<div class="upc-count-wrap">
									<div class="upc-count-wrap">
										<div class="countdown" data-count-year="2018" data-count-month="5"
											data-count-day="30">
										</div>

										<div class="ticket">
											<a href="#" class="tic-btn">Buy Ticket</a>
											<a href="#" class="tic-btn tic-btn-bg">See Details</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- /.col-lg-4 col-sm-6 -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.col-md-8 -->
			</div>
		</div>
		<!-- /.concerts-wrapper -->
	</div>
	<!-- /.tim-container -->
</section>


<!--==============================-->
<!--=        	Latest album         =-->
<!--==============================-->
<section class="three-d-album">
	<div class="section-title style-four">
		<h2>Your ALBUMS</h2>
		<p>There are many variations of passages of Lorem Ipsum available but the majority have suffered alteration in
			some injected humour.</p>
	</div>
	<div class="more-album">


		<a href="#">SEE ALL ALBUMS<i class="fa fa-play" aria-hidden="true"></i></a>

	</div>
	<div class="three-d-album-width">
		<div class="row">

			<div class="threed-container-wrapper">
				<div class="threed-container-inner">
					<div class="single-3d empty-space">
					</div>
					<div class="single-3d">
						<a href="#"><img src="/assets/media/albumart/1.png" alt=""></a>
					</div>
					<div class="single-3d  empty-space">

					</div>
					<div class="single-3d">
						<a href="#"><img src="/assets/media/albumart/2.png" alt=""></a>
					</div>
					<div class="single-3d  empty-space">
					</div>
					<div class="single-3d">
						<a href="#"><img src="/assets/media/albumart/3.png" alt=""></a>
					</div>
					<div class="single-3d">
						<a href="#"><img src="/assets/media/albumart/4.png" alt=""></a>
					</div>
					<div class="single-3d">
						<a href="#"><img src="/assets/media/albumart/5.png" alt=""></a>
					</div>
					<div class="single-3d">
						<a href="#"><img src="/assets/media/albumart/6.png" alt=""></a>
					</div>
					<div class="single-3d">
						<a href="#"><img src="/assets/media/albumart/7.png" alt=""></a>
					</div>

					<div class="single-3d">
						<a href="#"><img src="/assets/media/albumart/8.png" alt=""></a>
					</div>
					<div class="single-3d">
						<a href="#"><img src="/assets/media/albumart/13.png" alt=""></a>
					</div>
					<div class="single-3d">
						<a href="#"><img src="/assets/media/albumart/10.png" alt=""></a>
					</div>
					<div class="single-3d  empty-space">
					</div>
					<div class="single-3d">
						<a href="#"><img src="/assets/media/albumart/11.png" alt=""></a>
					</div>
					<div class="single-3d  empty-space">
					</div>
					<div class="single-3d">
						<a href="#"><img src="/assets/media/albumart/12.png" alt=""></a>
					</div>

					<div class="single-3d  empty-space">
					</div>

				</div>
			</div>
		</div>

	</div>
	<!-- /.tim-container -->
</section>
<!-- /#about -->



<!--===========================-->
<!--=        	Album         =-->
<!--===========================-->
<section id="album-two">
	<div class="tim-container">

		<div class="section-title title-three text-center">
			<h2>Exclusive Rock <span>Album</span></h2>
			<p>
				There are many variations of passages of Lorem Ipsum available but the majority have suffered<br>
				alteration in some injected humour.
			</p>
		</div>
		<!-- /.section-title -->

		<div class="row no-gutters">
			<div class="col-sm-6">
				<div class="exclusive-album-items">
					<div class="row no-gutters">
						<div class="col-lg-6 col-md-12">
							<div class="album-item">
								<div class="album-image">
									<img src="/assets/media/album/9.jpg" alt="album">
									<div class="exse-album-name">
										<span class="icon"><i class="tim-photo-camera"></i></span>
										<h4>Rock Album</h4>
									</div>
								</div>

								<div class="content clearfix">
									<h4>Hot Party</h4>
									<span>Music To Night</span>

									<div class="icon">
										<a href="#"><i class="tim-photo"></i></a>
									</div>
								</div>
							</div>
							<!-- /.album-item -->

							<div class="album-item">
								<div class="album-image">
									<img src="/assets/media/album/10.jpg" alt="album">
								</div>

								<div class="content clearfix">
									<h4>Hot Party</h4>
									<span>Music To Night</span>

									<div class="icon">
										<a href="#"><i class="tim-photo"></i></a>
									</div>
								</div>
							</div>
							<!-- /.album-item -->
						</div>
						<!-- /.col-md-6 -->

						<div class="col-lg-6 col-md-12">
							<div class="album-item">
								<div class="album-image">
									<img src="/assets/media/album/11.jpg" alt="album">
								</div>

								<div class="content clearfix">
									<h4>Hot Party</h4>
									<span>Music To Night</span>

									<div class="icon">
										<a href="#"><i class="tim-photo"></i></a>
									</div>
								</div>
							</div>
							<!-- /.album-item -->

							<div class="album-item">
								<div class="album-image">
									<img src="/assets/media/album/12.jpg" alt="album">
								</div>

								<div class="content clearfix">
									<h4>Hot Party</h4>
									<span>Music To Night</span>

									<div class="icon">
										<a href="#"><i class="tim-photo"></i></a>
									</div>
								</div>
							</div>
							<!-- /.album-item -->
						</div>
						<!-- /.col-lg-6 -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.exclusive-album-items -->
			</div>
			<!-- /.col-lg-6 -->

			<div class="col-sm-6">
				<div class="exclusive-album-items">
					<div class="row no-gutters">
						<div class="col-lg-6 col-md-12">
							<div class="album-item">
								<div class="album-image">
									<img src="/assets/media/album/13.jpg" alt="album">
								</div>

								<div class="content clearfix">
									<h4>Hot Party</h4>
									<span>Music To Night</span>

									<div class="icon">
										<a href="#"><i class="tim-photo"></i></a>
									</div>
								</div>
							</div>
							<!-- /.album-item -->

							<div class="album-item">
								<div class="album-image">
									<img src="/assets/media/album/14.jpg" alt="album">
								</div>

								<div class="content clearfix">
									<h4>Hot Party</h4>
									<span>Music To Night</span>

									<div class="icon">
										<a href="#"><i class="tim-photo"></i></a>
									</div>
								</div>
							</div>
							<!-- /.album-item -->
						</div>
						<!-- /.col-md-6 -->

						<div class="col-lg-6 col-md-12">
							<div class="album-item">
								<div class="album-image">
									<img src="/assets/media/album/15.jpg" alt="album">
								</div>

								<div class="content clearfix">
									<h4>Hot Party</h4>
									<span>Music To Night</span>

									<div class="icon">
										<a href="#"><i class="tim-photo"></i></a>
									</div>
								</div>
							</div>
							<!-- /.album-item -->

							<div class="album-item">
								<div class="album-image">
									<img src="/assets/media/album/16.jpg" alt="album">
									<div class="exse-album-name exse-album-bottom">
										<span class="icon"><i class="tim-photo-camera"></i></span>
										<h4>Rock Album</h4>
									</div>
								</div>

								<div class="content clearfix">
									<h4>Hot Party</h4>
									<span>Music To Night</span>

									<div class="icon">
										<a href="#"><i class="tim-photo"></i></a>
									</div>
								</div>
							</div>
							<!-- /.album-item -->
						</div>
						<!-- /.col-lg-6 -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.exclusive-album-items -->
			</div>
			<!-- /.col-lg-6 -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.tim-container -->
</section>
<!-- /#album -->

<!--======================================-->
<!--=        	Intro Video         	 =-->
<!--======================================-->
<section id="ultimate-tabs" class="pt__110">
	<div class="section-title title-three text-center">
		<h2>Ultimate <span>Tabs</span></h2>
		<p>
			There are many variations of passages of Lorem Ipsum available but the majority have suffered<br> alteration
			in some injected humour.
		</p>
	</div>
	<!-- /.section-title -->

	<div class="row no-gutters tabs-wrap">
		<div class="col-lg-12 col-xl-6">
			<div class="music-tabs-items tab-pd-left" data-bg-image="media/background/3.jpg">
				<div class="tabs-item">
					<div class="music-tab music-tab-two col-full-width">
						<div class="content">
							<h3><a href="#">Guiter</a></h3>
							<ul class="ratting">
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
							</ul>
						</div>
						<a href="#" class="view-btn">View <span>9k</span></a>
						<span class="bg-icon">
							<i class="tim-guitar"></i>
						</span>
					</div>
				</div>
				<!-- /.tabs-item -->

				<div class="tabs-item">
					<div class="music-tab music-tab-two col-full-width">
						<div class="content">
							<h3><a href="#">Piano</a></h3>
							<ul class="ratting">
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
							</ul>
						</div>
						<a href="#" class="view-btn">View <span>7k</span></a>
						<span class="bg-icon">
							<i class="tim-keyboard"></i>
						</span>
					</div>
				</div>
				<!-- /.tabs-item -->

				<div class="tabs-item">
					<div class="music-tab music-tab-two col-full-width">
						<div class="content">
							<h3><a href="#">Drum</a></h3>
							<ul class="ratting">
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
							</ul>
						</div>
						<a href="#" class="view-btn">View <span>10.1k</span></a>
						<span class="bg-icon">
							<i class="tim-drum-set-cartoon-variant"></i>
						</span>
					</div>
				</div>
				<!-- /.tabs-item -->

				<div class="tabs-item">
					<div class="music-tab music-tab-two col-full-width">
						<div class="content">
							<h3><a href="#">Bass</a></h3>
							<ul class="ratting">
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
							</ul>
						</div>
						<a href="#" class="view-btn">View <span>11k</span></a>
						<span class="bg-icon">
							<i class="tim-woofer-speaker"></i>
						</span>
					</div>
				</div>
				<!-- /.tabs-item -->

				<div class="tabs-item">
					<div class="music-tab music-tab-two col-full-width">
						<div class="content">
							<h3><a href="#">Guiter Pro</a></h3>
							<ul class="ratting">
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
							</ul>
						</div>
						<a href="#" class="view-btn">View <span>6k</span></a>
						<span class="bg-icon">
							<i class="tim-electric-guitar-music-instrument"></i>
						</span>
					</div>
				</div>
				<!-- /.tabs-item -->

				<div class="tabs-item">
					<div class="music-tab music-tab-two col-full-width">
						<div class="content">
							<h3><a href="#">Guiter Pro</a></h3>
							<ul class="ratting">
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
							</ul>
						</div>
						<a href="#" class="view-btn">View <span>8k</span></a>
						<span class="bg-icon">
							<i class="tim-piano-keys"></i>
						</span>
					</div>
				</div>
				<!-- /.tabs-item -->

				<div class="tabs-item">
					<div class="music-tab music-tab-two col-full-width">
						<div class="content">
							<h3><a href="#">Flute</a></h3>
							<ul class="ratting">
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
							</ul>
						</div>
						<a href="#" class="view-btn">View <span>11.1k</span></a>

						<span class="bg-icon">
							<i class="tim-flute"></i>
						</span>
					</div>
				</div>
				<!-- /.tabs-item -->

				<div class="tabs-item">
					<div class="music-tab music-tab-two">
						<div class="content">
							<h3><a href="#">Staff Lesson</a></h3>
							<ul class="ratting">
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
							</ul>
						</div>
						<a href="#" class="view-btn">View <span>12k</span></a>
						<span class="bg-icon">
							<i class="tim-music"></i>
						</span>
					</div>
				</div>
				<!-- /.tabs-item -->
			</div>
			<!-- /.music-tabs-item -->
		</div>
		<!-- /.col-lg-6 -->

		<div class="col-lg-12 col-xl-6">
			<div class="music-tabs-items tab-pd-right">
				<div class="tabs-item-two">
					<div class="music-tab">
						<img src="/assets/media/tab/1.jpg" alt="Tab">
						<a href="#">View <span>9k</span></a>

						<div class="content">
							<h3><a href="#">Life's Mysteries</a></h3>
							<ul class="ratting">
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- /.tabs-item-two -->


				<div class="tabs-item-two">
					<div class="music-tab">
						<img src="/assets/media/tab/2.jpg" alt="Tab">
						<a href="#">View <span>9k</span></a>

						<div class="content">
							<h3><a href="#">Life's Mysteries</a></h3>
							<ul class="ratting">
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- /.tabs-item-two -->


				<div class="tabs-item-two">
					<div class="music-tab">
						<img src="/assets/media/tab/3.jpg" alt="Tab">
						<a href="#">View <span>9k</span></a>

						<div class="content">
							<h3><a href="#">Life's Mysteries</a></h3>
							<ul class="ratting">
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- /.tabs-item-two -->


				<div class="tabs-item-two">
					<div class="music-tab">
						<img src="/assets/media/tab/4.jpg" alt="Tab">
						<a href="#">View <span>9k</span></a>

						<div class="content">
							<h3><a href="#">Life's Mysteries</a></h3>
							<ul class="ratting">
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- /.tabs-item-two -->


				<div class="tabs-item-two">
					<div class="music-tab">
						<img src="/assets/media/tab/5.jpg" alt="Tab">
						<a href="#">View <span>9k</span></a>

						<div class="content">
							<h3><a href="#">Life's Mysteries</a></h3>
							<ul class="ratting">
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- /.tabs-item -->


				<div class="tabs-item-two">
					<div class="music-tab">
						<img src="/assets/media/tab/6.jpg" alt="Tab">
						<a href="#">View <span>9k</span></a>

						<div class="content">
							<h3><a href="#">Life's Mysteries</a></h3>
							<ul class="ratting">
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- /.tabs-item-two -->

			</div>
			<!-- /.music-tabs -->
		</div>
		<!-- /.col-md-6 -->
	</div>
	<!-- /.row -->
</section>
<!-- /#ultimate-tabs -->

