<!-- Player -->
<div class="header_player">
	<div class="tim-container ">
		<!-- Audio Player -->
		<div class="player-container">
			<div class="current-tracks">
				<div id="main_player" class="jp-jplayer">

				</div>
				<div id="nowPlaying">
					<h3 class="track-name"></h3>
					<span class="artist-name"></span>
				</div>
				<!-- #nowPlaying -->
			</div>
			<!-- /.current-tracks -->

			<div id="header_player" class="jp-audio" role="application" aria-label="media player">
				<div class="jp-type-playlist clearfix">
					<div class="jp-gui jp-interface">
						<div class="jp-controls">
							<button class="jp-previous" tabindex="0"><i class="fa fa-backward"></i></button>
							<button class="jp-play" tabindex="0"><i class="fa fa-play"></i></button>
							<button class="jp-next" tabindex="0"><i class="fa fa-forward"></i></button>
						</div>
						<!-- Display the track inside player -->

						<div class="jp-progress">
							<div class="jp-seek-bar">
								<div class="jp-play-bar"></div>
							</div>
						</div>

						<div class="jp-duration" role="timer" aria-label="duration"></div>

						<div class="vel-wrap">
							<button class="jp-mute" tabindex="0"><i class="fa fa-volume-up"></i></button>

							<div class="jp-volume-bar">
								<div class="jp-volume-bar-value"></div>
							</div>

						</div>
						<!-- /.vel-wrap -->

						<button id="playlist-toggle" class=""><i class="fa fa-list"></i></button>

						<!-- Playlist -->
						<div class="jp-playlist">
							<ul>
								<li></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
